* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Title */
.main-title {
    font-size: 72px;
    font-weight: 550;
    text-align: center;
    margin-bottom: 50px;
}

#color-mode {
    text-align: center;
    margin: 10px;
}

/* Main Body */
.main-body{
    display: flex;
    justify-content: center;
}

/* Menu Section */
.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

/* Board */
.board {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: grid;
}