* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(175, 175, 175);
}

.main-title {
    font-size: 72px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}


/* Main body */
.main-container{
    margin: auto;
    display: flex;

    border: 1px solid black;
    width: 1000px;
    height: 1000px;
}

/* Menu panel */
.menu-options {
    border: 1px solid yellow;
    width: 200px;
    height: 700px;
    margin: auto;
}

#reset-btn {
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    background-color: cadetblue;
}

/* Grid Sketch pad */

.sketch-grid{
    border: 1px solid blue;
    width: 800px;
    height: 800px;
    margin: auto;
}

.cell {
    border: 1px solid black;
    background-color: aqua;
}
